<%- include ('../header1') %>

    <br>

    <section>
            <div class="row" style="margin: 20px;">
                <div class="col-md-4 mb-3 card">
                    <h5 class="card-header myclass1">For Doctors</h5>
                    <div class="card-body">
                        <h5 class="card-title">This section Add a new Doctor, View Doctors Details or Update an older one.</h5>
                        <p class="card-text">Please select one of the following.</p>
                        <a href="/adddoc" class="btn btn-primary">Add New</a>
                        <a href="/viewdoc" class="btn btn-primary">View</a>
                        <a href="/updatedoc" class="btn btn-primary">Update/Delete</a>
                    </div>
                </div>
                <div class="col-md-4 mb-3 card">
                    <h5 class="card-header myclass1">For Medicine</h5>
                    <div class="card-body">
                        <h5 class="card-title">This section Add a new Medicine or Update an older one.</h5>
                        <p class="card-text">Please select one of the following.</p>
                        <a href="/addmed" class="btn btn-primary">Add Med</a>
                        <a href="/viewmed" class="btn btn-primary">View Med</a>
                        <a href="/updatemed" class="btn btn-primary">Update Med</a>
                    </div>
                </div>
                <div class="col-md-4 mb-3 card">
                    <h5 class="card-header myclass1">For Symptoms</h5>
                    <div class="card-body">
                        <h5 class="card-title">This section Add a new Symptom or Update an older one.</h5>
                        <p class="card-text">Please select one of the following.</p>
                        <a href="/addsympt" class="btn btn-primary">Add Sympt</a>
                        <a href="/viewsympt" class="btn btn-primary">View Sympt</a>
                        <a href="/updatesympt" class="btn btn-primary">Update Sympt</a>
                    </div>
                </div>
            </div>
    </section>

    <br><br><br><br><br><br><br>

    <%- include ('../footer') %>

    <style>
        .nav-link{
            font-size: medium;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            font-family:Georgia, 'Times New Roman', Times, serif
        }
        .myclass1{
            background-color: powderblue;
        }
    </style>