<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Internal CSS -->
    <link href="../stylesheet/style.css" rel="stylesheet" type="text/css">
    
    <title>Medicare++</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:deepskyblue;">
        <a class="navbar-brand" href="#" >
            <img src="../images/logo.png" width="300" height="55" class="d-inline-block align-top" style="margin: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="/welcomeuser">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>