<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Internal CSS -->
    <link href="../stylesheet/style.css" rel="stylesheet" type="text/css">

    <!-- Font Awesomw -->
    <script src="https://kit.fontawesome.com/ff6ae855f8.js" crossorigin="anonymous"></script>
    
    <title>Home page</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:deepskyblue;">
        <a class="navbar-brand" href="#" >
            <img src="../images/logo.png" width="300" height="55" class="d-inline-block align-top" style="margin: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="document.getElementById('modal-wrapper').style.display='block'">login</a>
                </li>
            </ul>
        </div>
    </nav>


    <div id="modal-wrapper" class="modal">
        <div class="w3-bar w3-black" style="width: 520px;margin-left: 405px;margin-top: 50px;">
            <button class="w3-bar-item w3-button w3-left" style="margin-left: 100px;height: 70px;font-size:larger;" onclick="openCity('London')">For DOCTORS</button>
            <button class="w3-bar-item w3-button w3-right" style="margin-right: 100px;height: 70px;font-size: larger;" onclick="openCity('Paris')">For PATIENTS</button>
        </div>
        
        <div id="London" class="w3-container city" style="margin-top: -50px;">
            <form class="modal-content animate" action="/signindoc" method="POST">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                    <br><h1 style="text-align:center;font-weight: bolder;">LOGIN FOR DOCTORS</h1>
                </div>
                <div class="container">
                    <input type="text" placeholder="Enter Username" name="iusername" style="width: 90%;padding: 12px 20px;margin: 8px 26px;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;font-size: 16px;">
                    <label id = "label1" style="visibility: hidden;">Incorrect user ID</label>
                    <input type="password" placeholder="Enter Password" name="ipassword" style="width: 90%;padding: 12px 20px;margin: 8px 26px;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;font-size: 16px;">      
                    <label id = "label2" style="visibility: hidden;">Incorrect Password</label>
                    <button type="submit" style="background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 26px;border: none;cursor: pointer;width: 90%;font-size:20px;">Login</button>
                    <a href="/signupdoc" style="text-decoration:none; float:left; margin-left:34px; margin-top:26px;">New User</a>   
                    <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
                </div>
            </form>
        </div>
        
        <div id="Paris" class="w3-container city" style="display:none;margin-top: -50px;">
            <form class="modal-content animate" action="/signin" method="POST">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                    <br><h1 style="text-align:center;font-weight: bolder;">LOGIN FOR PATIENTS</h1>
                </div>
                <div class="container">
                    <input type="text" placeholder="Enter Username" name="iusername" style="width: 90%;padding: 12px 20px;margin: 8px 26px;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;font-size: 16px;">
                    <label id = "label1" style="visibility: hidden;">Incorrect user ID</label>
                    <input type="password" placeholder="Enter Password" name="ipassword" style="width: 90%;padding: 12px 20px;margin: 8px 26px;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;font-size: 16px;">      
                    <label id = "label2" style="visibility: hidden;">Incorrect Password</label>
                    <button type="submit" style="background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 26px;border: none;cursor: pointer;width: 90%;font-size:20px;">Login</button>
                    <a href="/signup" style="text-decoration:none; float:left; margin-left:34px; margin-top:26px;">New User</a>   
                    <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
                </div>
            </form>
        </div>      
    </div>

    <% if (message.length > 0) { %>
        <div class="alert alert-success col-sm-12" style="text-align: center;"><%= message %></div>
    <% } %>
    <section>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="../images/jesse-orrico-rmWtVQN5RzU-unsplash.jpg" class="d-block w-100" alt="..." style="opacity: 0.6; width: 100%; height: 640px;">
                    <div class="carousel-content">
                        <img src="../images/image-slider-2.png" style="width: 650px;">
                    </div>
                    <div class="carousel-content" style="bottom: 100px;left: 53%; font-size: 2rem; color:rgba(15,15,15,.6); text-transform: uppercase;">    
                        <p style="font-size: 2.2rem; font-weight: bold;">Take our free consultancy <br>services online.</p>
                        <br><p><h6 style="margin-top:-30px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: .9rem;">Our organisation helps the basic need of the people, free consultancy to all of those who are in need.</h6></p>
                        <img src="../images/IMG-20191127-WA0110.jpg" style="width: 15%;margin-top: 30px; border-radius: 500px;">
                        <span><img src="../images/IMG-20191018-WA0025.jpg" style="width: 15%;margin-top: 30px; margin-left: 30px; border-radius: 500px;"></span>
                        <br><br>
                        <form method="GET" action="/consultus">
                            <button type="submit" class="btn btn-warning" style="border-radius: 0px; font-size: .8rem; font-weight: bold; color: white; height: 50px; width: 250px;letter-spacing: 1.6px;">CONSULT US</button>
                        </form>
                    </div>    
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="../images/jesse-orrico-rmWtVQN5RzU-unsplash.jpg" class="d-block w-100" alt="..." style="opacity: 0.6; width: 100%; height: 640px;">
                    <div class="carousel-content">
                        <img src="../images/image-slider.png" style="width: 450px; margin-left: 100px;">
                    </div>
                    <div class="carousel-content" style="bottom: 100px;left: 53%; font-size: 2rem; color:rgba(15,15,15,.6); text-transform: uppercase;">    
                        <p style="font-size: 2.2rem; font-weight: bold;">These are our facilities.</p>
                        <br><p><h6 style="margin-top:-30px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: .9rem;"><span style="color: red; font-weight: bolder;">&#10003 </span> Free consultancy at any time and any place.</h6></p>
                        <p><h6 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: .9rem;"><span style="color: red; font-weight: bolder;">&#10003 </span> No paper work required at our side.</h6></p>
                        <p><h6 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: .9rem;"><span style="color: red; font-weight: bolder;">&#10003 </span> Customer satisfaction 24*7 available.</h6></p>
                        <p><h6 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: .9rem;"><span style="color: red; font-weight: bolder;">&#10003 </span> Found your nearby hospotals and their doctors in one go.</h6></p>
                        <br><br>
                        <form method="GET" action="/consultus">
                            <button type="submit" class="btn btn-warning" style="border-radius: 0px; font-size: .8rem; font-weight: bold; color: white; height: 50px; width: 250px;letter-spacing: 1.6px;">CONSULT US</button>
                        </form>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-3" style="height: 200px; background-color:#263b51;">
                <p style="margin-top: 55px;margin-left: 70px; font-weight: bolder; color: white;font-size: 2rem;">CONSULT <br> US</p>
            </div>
            <div class="col-md-9" style="background-color: #008fd5;">
                <form method="POST" action="/checksymptomdoc"> 
                    <div class="form-row" style="margin: 40px;">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="validationDefault01" placeholder="Full Name" name="ifname" required>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="validationDefault01" placeholder="Email" name="iemail" required>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="validationDefault02" placeholder="Mob No" name="imobno" required>
                        </div>
                    </div>
                    <div class="form-row" style="margin: 40px;">
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit" style="width: 300px;background-color: white;color: #263b51;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CLICK HERE TO CONSULT US</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section>
        <div class="row" style="height: 440px; background-color: black;">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <img src="../images/logo.png" class="myend1">
                <p class="myend1">With Medicare system, the team here work hard to make you feel better !<hr style="background: white;margin-top: 50px;"></p>
                <form action="/adminoffice" method="GET">
                    <button type="submit" class="btn btn-light" style="width: 200px; height: 100px;font-weight: bolder;font-size: 1.6rem; margin-top: 20px;">Admin Office</button>
                </form>
            </div>
            <div class="col-md-5">
                <ul class="address">
                    <span>services</span>       
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Free consultancy Services</a>
                    </li>
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Direct Appoinment with the Doctors</a>
                    </li>
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Appoinment confirmation through mail.</a>
                    </li>
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Best Quality Doctors</a>
                    </li>
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Automatic record generation and updation</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="address">
                    <span>Contact US</span>       
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">8982134058, 8989942899</a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Hostel No. 9, Manit, bhopal</a>
                    </li> 
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">ratneshv.123@gmail.com, gauravmehta1090@gmail.com</a>
                    </li> 
                </ul>
            </div>    
        </div>
    </section>

<%- include ('./footer') %>

<style>
    .nav-link{
        font-size: medium;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    .carousel-content{
        position: absolute;
        bottom: 1px;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .icon-calentar{
        content: "\e264";
        font-size: 42px;
        color: #f2921e;
        padding-bottom: 20px;
    }
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    .myend1{
        margin-top: 50px;
        color: white;
        font-size: small;
        letter-spacing: 1px;
        font-family: 'Lato', sans-serif;
    }


    .address span , .menu span{
        margin-top: 20px;
        color: #FFF; 
        font-weight: bold; 
        border-bottom: 2px solid #c7c7c7; 
        padding:10px 0px;
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 3px;
    }
    
    .address li a , .menu li a{
        color:#FFF;
        letter-spacing: 3px;
        text-decoration:none;
        font-size:20px;
    }

    .address li, .menu li{
        margin:20px 0px;
        list-style: none;
    }

    .address .fa{
        color: #da3e44;
        font-size:18px;
    }

/*--------------------------------------------------------------------------------------------------------*/

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}
/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}
/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

</style>

<script>
function openCity(cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(cityName).style.display = "block";  
}
</script>
