<option selected>Choose Speciality</option>
<option value="Aerospace Medicine">Aerospace Medicine</option>
<option value="Anaesthesia">Anaesthesia</option>
<option value="Bariatric Surgery">Bariatric Surgery</option>
<option value="Cardiology - Interventional">Cardiology - Interventional</option>
<option value="Cardiology - Non Interventional">Cardiology - Non Interventional</option>
<option value="Cardiothoracic And Vascular Surgery">Cardiothoracic And Vascular Surgery</option>
<option value="Centre For Spinal Diseases">Centre For Spinal Diseases</option>
<option value="Clinical Haematology And BMT">Clinical Haematology And BMT</option>
<option value="Corneal Transplant">Corneal Transplant</option>
<option value="Critical Care Medicine">Critical Care Medicine</option>
<option value="Dermatology And Cosmetology">Dermatology And Cosmetology</option>
<option value="Ear Nose Throat Head And Neck Surgery">Ear Nose Throat Head And Neck Surgery</option>
<option value="Emergency Medicine">Emergency Medicine</option>
<option value="Endocrinology">Endocrinology</option>
<option value="General Surgery">General Surgery</option>
<option value="Infectious Diseases">Infectious Diseases</option>
<option value="Internal Medicine">Internal Medicine</option>
<option value="In-Vitro Fertilisation (IVF)">In-Vitro Fertilisation (IVF)</option>
<option value="Laboratory Medicine">Laboratory Medicine</option>
<option value="Liver Transplant & Hepatic Surgery">Liver Transplant & Hepatic Surgery</option>
<option value="Maxillofacial Surgery">Maxillofacial Surgery</option>
<option value="Medical Gastroenterology">Medical Gastroenterology</option>
<option value="Medical Oncology & Clinical Hematology">Medical Oncology & Clinical Hematology</option>
<option value="Medical Oncology">Medical Oncology</option>
<option value="Minimally Invasive Gynecology">Minimally Invasive Gynecology</option>
<option value="Neonatology">Neonatology</option>
<option value="Nephrology">Nephrology</option>
<option value="Neuro Modulation">Neuro Modulation</option>
<option value="Nutrition & Dietetics">Nutrition & Dietetics</option>
<option value="Neurology">Neurology</option>
<option value="Neurosurgery">Neurosurgery</option>
<option value="Obstetrics And Gynecology">Obstetrics And Gynecology</option>
<option value="Ophthalmology">Ophthalmology</option>
<option value="Orthopedics & Joint Replacement">Orthopedics & Joint Replacement</option>
<option value="Pain Management">Pain Management</option>
<option value="Pediatric Surgery">Pediatric Surgery</option>
<option value="Physiotherapy">Physiotherapy</option>
<option value="Plastic Surgery">Plastic Surgery</option>
<option value="Psychiatry">Psychiatry</option>
<option value="Pulmonology">Pulmonology</option>
<option value="Renal Transplant">Renal Transplant</option>
<option value="Reproductive Medicine & IVF">Reproductive Medicine & IVF</option>
<option value="Rheumatology">Rheumatology</option>
<option value="Robotic Surgery">Robotic Surgery</option>
<option value="Surgical Gastroenterology">Surgical Gastroenterology</option>
<option value="Surgical Oncology">Surgical Oncology</option>
<option value="Urology">Urology</option>
<option value="Vascular and endovascular surgery">Vascular and endovascular surgery</option>