<option selected>Choose...</option>
<option value="Aerospace Medicine">Aerospace Medicine</option>
<option value="Anaesthesia">Anaesthesia</option>
<option value="Bariatric Surgery">Bariatric Surgery</option>
<option value="Cardiology">Cardiology</option>
<option value="Cardiothoracic And Vascular Surgery">Cardiothoracic And Vascular Surgery</option>
<option value="Corneal Transplant">Corneal Transplant</option>
<option value="Dermatology And Cosmetology">Dermatology And Cosmetology</option>
<option value="Ear Nose Throat Head And Neck Surgery">Ear Nose Throat Head And Neck Surgery</option>
<option value="Emergency Medicine">Emergency Medicine</option>
<option value="Endocrinology">Endocrinology</option>