<%- include ('./header') %>

    <% if (message.length > 0) { %>
        <div class="alert alert-success col-sm-12" style="text-align: center;"><%= message %></div>
    <% } %>

    <section>
        <div class="container">
            <div class="card" style="margin-top: 40px; margin-bottom: 40px;">
                <h5 class="card-header" style="background-color: powderblue;">SIGN UP</h5>
                <div class="card-body">
                    <form action="/signupform" method="post"> 
                        <div class="form-row" style="margin: 40px;">
                            <div class="col-md-4">
                                <label style="font-weight: 700;" for="validationDefault01">First name</label>
                                <input type="text" class="form-control" id="validationDefault01" placeholder="First name" name="ifname" required>
                            </div>
                            <div class="col-md-4">
                                <label style="font-weight: 700;" for="validationDefault01">Middle name</label>
                                <input type="text" class="form-control" id="validationDefault01" placeholder="Middle name" name="imname" >
                            </div>
                            <div class="col-md-4">
                                <label style="font-weight: 700;" for="validationDefault02">Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" name="ilname" required>
                            </div>
                        </div>
                        <div class="form-row" style="margin: 40px;">
                            <div class="col-md-6">
                                <label style="font-weight: 700;" for="validationDefault03">E-Mail</label>
                                <input type="text" class="form-control" id="validationDefault03" placeholder="E-Mail" name="iemail" required>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 700;" for="validationDefault04">Mobile No.</label>
                                <input type="text" class="form-control" id="validationDefault04" placeholder="Mob No" name="imobno" required>
                            </div>
                        </div>
                        <div class="form-row" style="margin: 40px;">
                            <div class="col-md-6">
                                <label style="font-weight: 700;" for="validationDefaultUsername">Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                    </div>
                                    <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" name="iusername" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 700;" for="validationDefaultUsername" >Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="validationDefaultUsername" placeholder="Password" aria-describedby="inputGroupPrepend2" name="ipassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="margin: 40px;">
                            <button class="btn btn-primary" type="submit" style="width: 300px;">SIGN UP</button>
                        </div>
                    </form>
                    <div>
                        <a href="/" class="mylabel">Log In</a>
                    </div>
                </div>
            </div>        
        </div>
    </section>

<%- include ('./footer') %>
    
<style>
    .nav-link{
        font-size: medium;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    .mylabel{
        float: right; 
        margin-top: -70px; 
        margin-right: 50px; 
        font-weight: 700; 
        font-size:large;
        text-decoration: underline;
        letter-spacing: .7px;
    }
</style>    