<%- include ('./header1') %>

<section>
    <div class="container">
        <div class="card" style="margin-top: 40px; margin-bottom: 40px;">
            <h5 class="card-header" style="background-color: powderblue;">View Medicine Details</h5>
            <div class="card-body">
                <form action="/addthedoctor" method="post">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault01">Enters the Doctor's Name</label>
                            <input type="text" class="form-control" id="validationDefault01" placeholder="First name" name="idrname" required>
                        </div>
                        <div class="col-md-7 mb-3">
                            <label for="validationDefault02">Doctor's Address</label>
                            <input type="text" class="form-control" id="validationDefault02" placeholder="Address" name="idraddress" required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="validationDefaultUsername">Doctor's Fees</label>    
                            <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Fees" aria-describedby="inputGroupPrepend2" name="idrfees" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>        
    </div>
</section>

<%- include ('./footer') %>

<style>
    .nav-link{
        font-size: medium;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
</style>