<%- include ('../header1') %>

<section>
    <div class="container">
        <br>
        <% if (message.length > 0) { %>
            <div class="alert alert-success col-sm-12" style="text-align: center;"><%= message %></div>
        <% } %>
        <div class="card" style="margin-top: 40px; margin-bottom: 40px;">
            <h5 class="card-header" style="background-color: powderblue;">Add Symptoms Details</h5>
            <div class="card-body">
                <form action="/addthesymptoms" method="post">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault01">Enters the Symptoms Name</label>
                            <input type="text" class="form-control" id="validationDefault01" placeholder="Symptoms Name" name="isymname" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault01">Enters which category it falls.</label>
                            <select name="ispeciality" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <%- include ('../list') %>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>        
    </div>
</section>


<%- include ('../footer') %>

<style>
    .nav-link{
        font-size: medium;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
</style>